* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(WC.jpg);
    background-position: center;
    background-size: cover;
}
section {
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(25px);
    padding: 40px;
    width: 420px;
    border-radius: 20px;
}
section h1 {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 25px;
}
.input-box {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}
.input-box input {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    color: white;
    padding-right: 40px;
}
.input-box input::placeholder {
    color: white;

}
.input-box i {
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    top: 50%;
    color: white;
}
.remenber-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #fff;
    margin-bottom: 25px;
}
.remenber-forgot a:hover {
    text-decoration: underline;
}
.login-btn {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.5s;
}
.login-btn:hover {
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    color: #fff;
}
.register-link {
    text-align: center;
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
}